<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>社区生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--生产使用-->
    <!--    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">-->
    <!--    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">-->

    <!--调试使用-->
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.css">

</head>
<body>
<div class="page-group">
    <header class="bar bar-nav">
        <h1 class='title'>商店信息</h1>
    </header>
    <div class="content">
        <form class="list-block" id="form">
            <ul>
                <!--店铺名称-文本框-->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">店铺名称</div>
                            <div class="item-input">
                                <input type="text" id="shopName" name="shopName" placeholder="店铺名称" required>
                            </div>
                        </div>
                    </div>
                </li>
                <!--店铺分类-下拉列表-->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">店铺分类</div>
                            <div class="item-input" >
                                <select id="shopCategory" name="shopCategoryId">
                                    <!---->
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <!--所属区域-下拉列表-->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">所属区域</div>
                            <div class="item-input">
                                <select id="area" name="areaId">
                                    <!---->
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <!--详细地址-文本框-->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">详细地址</div>
                            <div class="item-input">
                                <input type="text" id="shopAddr" name="shopAddr" placeholder="街道-门牌号">
                            </div>
                        </div>
                    </div>
                </li>
                <!--联系电话-文本框-->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">联系电话</div>
                            <div class="item-input">
                                <input type="text" id="shopPhone" name="shopPhone" placeholder="联系电话">
                            </div>
                        </div>
                    </div>
                </li>
                <!--店铺缩略图-上传控件-->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">店铺图片</div>
                            <div class="item-input">
                                <input type="file" id="shopImg" name="img">
                            </div>
                        </div>
                    </div>
                </li>
                <!--店铺简介-大文本框-->
                <li class="align-top">
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">店铺简介</div>
                            <div class="item-input">
                                <textarea id="shopDesc" name="shopDesc"></textarea>
                            </div>
                        </div>
                    </div>
                </li>
                <!--验证码-文本框-->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">验证码</div>
                            <input type="text" id="captcha" name="captcha" placeholder="验证码" required>
                            <div class="item-input">
                                <img src="/captchaImage" alt="点击更换" onclick="this.src='/captchaImage'">
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </form>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#" class="button button-big button-fill button-danger">返回</a></div>
                    <div class="col-50"><input type="submit" href="#" class="button button-big button-fill button-success" id="submit"></input></div>
                </div>
            </div>
    </div>
</div>

<!--生产使用-->
<!--<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>-->
<!--<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>-->
<!--<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>-->

<!--调试使用-->
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.js' charset='utf-8'></script>
<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->

<script type='text/javascript' src='/js/shop/addShop.js' charset='utf-8'></script>
</body>
</html>